{% extends "base.html" %}

{% block content %}
  <h1>TODO list
    <a href="{% url 'task:task-create' %}" class="btn btn-primary float-right">Add task</a>
  </h1>
  {% if task_list %}
    <ul class="list-unstyled">
      {% for task in task_list %}
        <li class="mb-3">
          <h5>
            {{ task.content }}
            {% if task.done %}
              <span class="text-success">Done</span>
            {% else %}
              <span class="text-danger">Not done</span>
            {% endif %}
            {% if task.done %}
              <a href="{% url 'task:task-undo' pk=task.id %}" class="btn btn-secondary float-right">Undo</a>
            {% else %}
              <a href="{% url 'task:task-complete' pk=task.id %}" class="btn btn-success float-right">Complete</a>
            {% endif %}
          </h5>
          <p>Created: {{ task.created_at }}
            {% if task.deadline %} <span style="color: brown">Deadline: {{ task.deadline }}
            {% endif %}
            </span>
          </p>

          {% if task.tags.all %}
            <p style="color: grey;">
              <strong>Tags:</strong>
              {% for tag in task.tags.all %}
                <strong>{{ tag.name }}</strong>{% if not forloop.last %}, {% endif %}
              {% endfor %}
              <strong><a href="{% url 'task:task-update' pk=task.id %}">Update</a></strong>
              <strong><a href="{% url 'task:task-delete' pk=task.id %}">Delete</a></strong>
            </p>
          {% endif %}
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no any tasks.</p>
  {% endif %}
{% endblock %}
